/*********** DROPDOWN BUTTON **********/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .btn-dropdown {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown .dropdown-content .row {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content .row:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .btn-dropdown {background-color: #3e8e41;}
/*********** END - DROPDOWN BUTTON **********/
