/*********** FORM COTROLS **********/
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*********** END - FORM COTROLS **********/

/*********** COLORS **********/
.primary {color: #0d6efd;}
.secondary {color: #6c757d;}
.success {color: #198754;}
.danger {color: #dc3545;}
.warning {color: #ffc107;}
.info {color: #0dcaf0;}
.light {color: #f8f9fa;}
.dark {color: #212529;}
/*********** END - COLORS **********/

/*********** BACKGROUND COLORS **********/
.primary-bg {background-color: #0d6efd;}
.secondary-bg {background-color: #6c757d;}
.success-bg {background-color: #198754;}
.danger-bg {background-color: #dc3545;}
.warning-bg {background-color: #ffc107;}
.info-bg {background-color: #0dcaf0;}
.light-bg {background-color: #f8f9fa;}
.dark-bg {background-color: #212529;}
/*********** END - BACKGROUND COLORS **********/
